section#booknow
    .container
        .d-flex.flex-wrap.justify-content-center
            p.text-justify.fs-3 Welcome to Cabo San Lucas Rides, it will be a pleasure to serve you in your next visit to San Jose del Cabo, Cabo San Lucas or Todos Santos.
            p.text-justify.fs-3 In Cabo San Lucas Rides we have a simple goal, exceeding the expectations of our clients, in this search for excellence, all our bilingual staff is professionally prepared to help, never arrived late no matter if your flight is delayed, expect will be waiting, and we treat it as what it is, a VIP.
            p.text-justify.fs-3 Do you want to know about us? Cabo San Lucas Rides was founded in 2011, seeing the great need for private transportation service on the ropes, although there were dedicated to the transportation companies were very little bilingual staff and even more recently in a spirit of service.
            p.text-justify.fs-3 I first started working with transportation services to customers Westin Regina exlusiva way, but after a year's service Hotel Palmilla and hotels Pueblo Bonito was extended, now we cover all the hotels in the area, even beyond Los Cabos, as Todos Santos and Cabo del Este.
            p.text-justify.fs-3 Having so much competition in transportation in Los Cabos, the key to our exist is simple; "Doing things fast and well done" forever we are waiting for our guests, no matter if your flight time, so in these years of service have not had any complaints TripAdvisor is delayed. As our goal is excellence we set ourselves, if we are not waiting for you when you get ready for your flight, the ride is free.
