header(class="position-relative")
    nav(class="position-fixed w-100 navbar navbar-expand-lg sticky-top")
        div(class="container")
            a(class="d-lg-block navbar-brand", href="https://enjoysjd.com")
                img( src="/images/logo/enjoy-cabo.png", alt="Enjoy Cabo", width="180px!important")
            button(class="navbar-toggler", type="button", data-bs-toggle="collapse", data-bs-target="#header02", aria-controls="header02", aria-expanded="false", aria-label="Toggle navigation")
                span(class="super-menu")
                  img(src='/images/icons/hamburger-menu.png', height="40px")
            div(class="collapse navbar-collapse justify-content-end", id="header02")
                ul(class="navbar-nav mt-3 mb-3")
                    li(class="nav-item")
                        a(class="nav-link fs-4", href="#banner") Home
                    li(class="nav-item")
                        a(class="nav-link fs-4", href="#zones") Zones
                    li(class="nav-item")
                        a(class="nav-link fs-4", href="#contact") Location    
                    li(class="nav-item")
                        a(class="nav-link fs-4", href="#book-now") Book Now
