section#package.addConfetti
    .container
        .text-center
            h2
                | WHEN YOU RESERVE WITH US, YOU WILL ALWAYS GET THE BEST SERVICE

        .row
            .col-sm-4.text-center.background-2
                img.animated.fadeInLeft(src='/images/vectors/driver.png', height='140px')
                p
                    | Bilingual Drivers
            .col-sm-4.text-center.background-1
                img.animated.fadeInCenter(src='/images/vectors/road.png', height='140px')
                p
                    | Toll Road
            .col-sm-4.text-center.background-4
                img.animated.fadeInRight(src='/images/vectors/beverages.png', height='140px')
                p
                    | Cold Beverages
