section#testimonials
    #testimonial.carousel.slide(data-bs-ride='carousel')
        .carousel-inner
            .carousel-item.active.text-center
                .box-textimonial.text-center
                    img(src="/images/vectors/5-stars.png", height="30")
                    h3
                        | 5 Stars
                    p
                        | 5 stars for Enjoy Cabo team! I sent a quick Facebook message and he responded quickly! That's a good sign in my eyes. When we arrived to the airport he was easy to find and we were on our way!.
                .person
                    .person-name
                        a(href="#")
                            | mariocastrogallegos
                    .person-date
                        p
                          | April, 2023
            .carousel-item.text-center
                .box-textimonial.text-center
                    img(src="/images/vectors/5-stars.png", height="30")
                    h3
                        | Excellent Service
                    p
                        | I will always use Enjoy Cabo.
                .person
                    .person-name
                        a(href="#")
                            | johnsmith
                    .person-date
                        p
                          | June, 2023
                    
        button.carousel-control-prev(type='button' data-bs-target='#testimonial' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#testimonial' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next
section#above-footer            
    .container
        .row
            .col-12.col-sm-6
                img(src="/images/banners/above-footer-1.jpg", width="100%")
            .col-12.col-sm-6
                img(src="/images/banners/above-footer-2.jpg", width="100%")
      
