section#units
    .container
        .row
            .col-sm-12.text-center
                h2.promo-title
                    | Do you need more space?
                p
                    | Largers groups for 10 passengers with a Toyota Hiace and 16 passengers in Mercedes-Benz Sprinter
        .row.promo-subtitle
            .col-sm-3.animated.fadeInLeft.text-center
                img(src='/images/units/navigator.png', width='100%')
                h2.text-center Lincoln Navigator
            .col-sm-3.animated.fadeInLeft.text-center
                img(src='/images/units/suburban.png', width='100%')
                h2.text-center Chevrolet Suburban  
            .col-sm-3.animated.fadeInLeft.text-center
                img(src='/images/units/hiace.png', width='100%')
                h2.text-center Toyota Hiace          
            .col-sm-3.animated.fadeInRight.text-center
                img(src='images/units/sprinter.png', width='100%')
                h2.text-center Mercedes-Benz Sprinter
