section#about-us
  .container
    .row
      .col-md-6.col-sm-12
        h3.mb-3 A FAMILY COMPANY IN CABO
        p We offer excellent service, we have more than 8 years of service offering quality and punctuality to all our services. We are committed to giving our maximum effort to make your trips a pleasant experience, we will treat you as you deserve.
        p We offer service in San Jose del Cabo, Cabo San Lucas, Los Barriles, Todos Santos and La Paz, our units are always in their best condition, and in all our services we offer cold drinks. If you have any special requirements, do not hesitate to contact us, we are here to serve you.
        h3 ABOUT US
        p We have more than 15 years of experience, customer service more than a job is our goal, we started as a small family business with a single unit in our fleet, without losing perspective that what defines us in our customer service, We will never arrive late or with a unit in poor condition, we will do our best.
        p Book with us, give us the opportunity to serve you and yours as you deserve.
      .col-12.col-sm-6
        #carousel-aboutus.carousel.slide.carousel-fade
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(src="/images/banners/about-us-1.jpg")
            .carousel-item
              img.d-block.w-100(src="/images/banners/about-us-2.jpg")  
            .carousel-item
              img.d-block.w-100(src="/images/banners/about-us-3.jpg")
            .carousel-item
              img.d-block.w-100(src="/images/banners/about-us-4.jpg")
            .carousel-item
              img.d-block.w-100(src="/images/banners/about-us-5.jpg")
            .carousel-item
              img.d-block.w-100(src="/images/banners/about-us-6.jpg")
            .carousel-item
              img.d-block.w-100(src="/images/banners/about-us-7.jpg")
              
          button.carousel-control-prev(type="button", data-bs-target="#carousel-aboutus", data-bs-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.visually-hidden Previous
            
          button.carousel-control-next(type="button", data-bs-target="#carousel-aboutus", data-bs-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.visually-hidden Next  
