section#welcome
    .container
        .row
            .col-md-6.col-sm-12
                h3.fs-1.mb-3 A FAMILY COMPANY IN CABO
                p.fs-4 We offer excellent service, we have more than 8 years of service offering quality and punctuality to all our services. We are committed to giving our maximum effort to make your trips a pleasant experience, we will treat you as you deserve.
                p.fs-4 We offer service in San Jose del Cabo, Cabo San Lucas, Los Barriles, Todos Santos and La Paz, our units are always in their best condition, and in all our services we offer cold drinks. If you have any special requirements, do not hesitate to contact us, we are here to serve you.
            .col-md-6.col-sm-12.text-center
                img(src="/images/banners/home-01.png")
