 
section#footer.border-top
  .container
    .row
      .col-sm-6.text-center
        .image(data-aos='fade-right', data-aos-duration='1000')
          img(src="/images/logo/enjoy-cabo-white.png" width="100%", alt="Enjoy Cabo")
      .col-sm-4.text-center
        h3 PHONE NUMBER
        .text-center
          a(href="tel:+526242631304") +52 624 263 1304
        br
        h3 E-MAIL ADRESS
        .text-center
          a(href="mailto:mail@live.com") mail@mail.com
      
section#design.py-1
  .container.d-flex.mt-1
    .col-sm-5.fs-6
      p.m-0
        | © 2023
        |
        | Enjoy Cabo
    .col-sm-2.text-center.fs-6
      img(src='../images/logo/mario-castro-gallegos.png', width='16px', alt="Mario Logo")
    .col-sm-5.text-end.fs-6
      a.text-decoration-none(href='http://mariocastrogallegos.com', target='_blank') Web Designer in Cabo
