// Services Start //

section.container-fluid
    .w-75.mx-auto.my-5(id="services")
        h2.fs-1.d-flex.justify-content-center.text-center.text-primary Exclusive SUV Service
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta perspiciatis reiciendis cum enim, labore est nam et explicabo inventore repellendus quidem recusandae. Nostrum ratione possimus facere laborum labore perspiciatis quis.
        
        .row.mx-auto.my-5.row-services
            .col-lg-6.col-md-12.col-sm-12.d-flex.justify-content-start.my-5.wrap-icon
                img(src="/images/suburban-1.jpg" alt="suburban-1" width="180" height="102")
                .row
                    h3.fs-5.mt-4.px-4.pb-1 Exclusive SUV
                    p.px-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .col-lg-6.col-md-12.col-sm-12.d-flex.justify-content-start.my-5.wrap-icon
                img(src="/images/expedition-1.jpg" alt="expedition-1" width="180" height="102")
                .row 
                    h3.fs-5.mt-4.px-4.pb-1 Exclusive SUV
                    p.px-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .col-lg-6.col-md-12.col-sm-12.d-flex.justify-content-start.my-5.wrap-icon
                img(src="/images/crafter-1" alt="crafter-1" width="180" height="102")
                .row 
                    h3.fs-5.mt-4.px-4.pb-1 Exclusive SUV
                    p.px-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .col-lg-6.col-md-12.col-sm-12.d-flex.justify-content-start.my-5.wrap-icon
                img(src="/images/van-1" alt="van-1" width="180" height="102")
                .row 
                    h3.fs-5.mt-4.px-4.pb-1 Exclusive SUV
                    p.px-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit.

// Services Ends //