script(type='text/javascript').
  window.$crisp=[];window.CRISP_WEBSITE_ID="39ffb311-7d88-4641-b883-f8f772bbc68c";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
