body
    background #dfdfdf
    font-family: 'Roboto', serif;

    a
        text-decoration: none

    @require '_variables/colors.styl'
    @require '_variables/fonts.styl'
    @require '_partials/menu.styl'
    @require '_partials/footer.styl'

    @require '_sections/units.styl'
    @require '_sections/zones.styl'
    @require '_sections/welcome.styl'
    @require '_sections/book.styl'
    @require '_sections/book-now.styl'

    .text-right
        text-align right
    .text-left
        text-align left
    .margin-right-10
      margin-right 10px
