@media(max-width: 791px)
    .row-services
        width: 100% !important
        text-align: center !important
    .navbar-container
        flex-wrap: nowrap !important
    .text-welcome 
        text-align: center!important
        width: 22rem;
    #banner
        padding-top: 5rem;

@media (max-width: 576px)
    .wrap-icon
        flex-wrap: wrap
        justify-content: center !important
