#hero
    height 100vh
    margin-top 0
    position relative

    .carousel-item
        height 100vh

    .img-src-01
        background-image url("../images/banners/bogard-001.jpg")

    .img-src-02
        background-image url("../images/banners/bogard-002.jpg")

    .img-src-03
        background-image url("../images/banners/bogard-003.jpg")

    .img-src-04
        background-image url("../images/banners/bogard-004.jpg")

    .img-src-05
        background-image url("../images/banners/bogard-005.jpg")

    .img-src-06
        background-image url("../images/banners/bogard-006.jpg")

    .img-src-07
        background-image url("../images/banners/bogard-007.jpg")

    .img-src-08
        background-image url("../images/banners/bogard-008.jpg")

    .img-src-09
        background-image url("../images/banners/bogard-009.jpg")

    .img-src-10
        background-image url("../images/banners/bogard-010.jpg")

    .img-src-11
        background-image url("../images/banners/bogard-011.jpg")

    .img-src-12
        background-image url("../images/banners/bogard-012.jpg")

    .img-size
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;

.carousel-indicators button
    background-color #fff !important
    border 2px solid #68D4CB !important
    border-radius 50% !important
    height 24px !important
    margin 0 !important
    margin-right 2px !important
    opacity 1 !important
    width 24px !important

.carousel-indicators button.active
    background-color #68D4CB !important
    border 2px solid #fff !important

@media (max-width: 991px)
    #hero
        .img-size
            height 400px

@media (max-width 767px)
    #hero
        .carousel-indicators
            display none

section#activities
    h3
        margin-top 0
        padding-top 0
    img
        border-radius 15px

section#promo
    background #fff
    padding 30px 0

    h2
        padding 20px 0

    a
        color #fff
        padding 10px
