section#units
  background-color #000
  color #fff
  padding 30px 0

  h3
    font-size 40px
  h4
    font-size 30px
  p
    font-size 24px
section#package
  background-color #000
  color #fff
  padding 30px 0

  h3
    font-size 40px

  img
    margin 30px 0
  p
    font-size 24px
