section#zones
    background #000
    padding 3rem 0

    h3
      color #fff
      margin 30px 0

    .zone
      background #1397c7

    .card
      overflow hidden

      .card-header
        .card-title
          align-items center
          display flex
          font-size 22px
          height 54px
          justify-content center
          margin 0
          width 100%
        .card-text
          font-size 18px
      .card-footer
        background #fff

        button
          border 0
          color #fff

        button:hover
          background-color #fff
          color #000

    .hotel-card
      border 1px solid #000
      border-radius 4px
      margin 2px
      overflow hidden
      padding 0
      width 100px

      p
        display block
        font-size 12px
        height 40px
        margin 0
        overflow hidden
        padding 0
        width 100%
    .modal-footer
      button
        background-color #1397c7
      button:hover
        background-color #1397c7

@media (max-width: 1399px)
  section#zones
    .card-header
      .card-title
        height 82px

@media (max-width: 1199px)
  section#zones
    .col
      flex unset
      margin 10px 0
      width 20%

@media (max-width: 767px)
  section#zones
    .col
      width 50%

@media (max-width: 540px)
  section#zones
    .card-header
      .card-title
        height 32px
        br
          display none
    .col
      width 100%
