doctype html
html
    head
        title Enjoy Cabo
        include _partials/header-main
        include _partials/scripts
    body
        include _section/menu
        include _section/banner
        include _section/welcome
        include _section/book-now
        include _section/units
        include _section/zones
        include _section/package
        include _section/contact
        include _section/testimonials
        include _partials/footer
        include _partials/tails
