section#footer
    color #000
    background #30a87f
    border-top 2px solid #071062
    font-size 14px
    padding 30px 0
    text-decoration none

    h3
        color #fff
        font-size 20px
        height 44px
        margin 0
        padding 0
        text-align center

    a
        color #fff
        text-decoration none

section#design
  background #30a87f

  p, a
     color #fff
