header
  nav.navbar
    background #000
    color #000
    z-index 100

  .navbar-expand-lg
    .navbar-nav
      .nav-link
        color #fff
        padding-left 20px
        padding-right 20px
        text-transform uppercase
