#step-1.row
  .col-sm-12.area
    .selector
      .step.selected 1
      .step 2
      .step 3
      .step 4
    .title
      h3 Select your unit
  .col-sm-12
    #reserve-suburban.info.selected-unit.margin-bottom-2r
      .col-sm-6.text-center
        .unit-image
          img(src="/images/units/suburban.png", width="100%")
      .col-sm-6
        .unit-txt
          p Chevrolet Suburban
          p.subtitle 6 Passengers
  .col-sm-12
    #reserve-hiace.info.margin-bottom-2r
      .col-sm-6
        .unit-image
          img(src="/images/units/hiace.png", width="100%")
      .col-sm-6
        .unit-txt
          p Toyota Hiace
          p.subtitle 10 Passengers
  .col-sm-12
    #reserve-sprinter.info.margin-bottom-2r
      .col-sm-6
        .unit-image
          img(src="/images/units/sprinter.png", width="100%")
      .col-sm-6
        .unit-txt
          p Mercedes-Benz Srinter
          p.subtitle 16 Passengers        
  .col-sm-12
    .footer-action
      input#send-step-1.submit-button(type="button", name="SEND", value="BOOK IT")
